# Install test dependencies
pre-commit==2.17.0
black==22.1.0
flake8==4.0.1
mypy==0.940
pytest
pytest-runner
pytest-flake8
pytest-black
pytest-cov
pytest-xdist
mkdocs
awscli==1.22.77

# Install dependencies
-r requirements.txt
